.app {
  height: 100vh;
  overflow: auto;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../public/src/img/main/main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    filter: blur(5px) brightness(30%);
    z-index: -1;
  }
}
.wrap_app {
  z-index: 99;
  position: initial;
}
.body {
  z-index: 99;
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.wrap_logo {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  button {
    background-color: transparent;
    // background-image: url("../../public/src/favicon.ico");
    background-image: url("../../public/src/totoro_color.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
    border: transparent;
    border-radius: 10px;
    &:hover {
      background-color: #aaa5;
    }
  }
}
.wrap_info {
  width: 100%;
  padding: 0 10rem;
}
.h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 64px;
  // family setting
}

.info_slider {
  width: 100%;
  height: 100%;
//   background-color: antiquewhite;
}
.swiper_slide_detail {
  height: 100%;
}

// swiper
.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;

  height: 70vh;
//   background-color: #eee;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
  background-color: #0005;
  margin-right: 3rem;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide img {
  display: block;
  width: 100%;
  height: 350px;
}

.swiper_slide p {
    text-align: center;
    margin: 1rem auto;
    color: #fff;
}
