@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.app {
    width: 100vw;
  height: 100vh;
  overflow: auto;
  align-items: center;
    display: flex;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../public/src/img/main/main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    filter: blur(5px) brightness(30%);
    z-index: -1;
  }
}
.app_info {
  height: 100vh;
  overflow: auto;
  &::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../../public/src/img/main/main_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    filter: blur(5px) brightness(30%);
    z-index: -1;
  }
}
.wrap_app {
  z-index: 80;
  position: initial;
}

.wrap_app_detail {
    width: 100%;
    display: flex;
    padding: 5rem;
    color: #fff;
    justify-content: center;
}

.detail_left {
    text-align: center;
    p {
        width: 400px;
        margin: 1rem 0;
        font-size: 1.5rem;
    }
    img {
        width: 300px;
        height: 400px;
        align-items: center;
    }
}

.detail_right {
    width: 40%;
    margin-left: 5rem;
    p {
        &:first-child {
            font-size: 1.8rem;
            font-style: italic;
            margin-bottom: 3rem;
            line-height: 120%;
        }
    }
}
.detail_right_path {
    // height: 80%;
    // overflow-y: scroll;
    width: auto;
    overflow-y: auto;
    padding: 5px 0;
    margin-top: 3rem;
    border: 1px solid #fff;
    padding: 0.7rem;
    float: right;
    font-size: 12px;
    font-weight: 300;
    &:hover {
        background-color: #fff3;
        font-weight: 400;
    }
}

.body {
  z-index: 99;
  position: relative;
  height: 100%;
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}
.wrap_back {
    width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  z-index: 99;
  border-radius: 50px;
  background-color: #aaa5;
  &:hover {
    background-color: #fff5;
  }
  button {
    background-color: transparent;
    // background-image: url("../../public/src/favicon.ico");
    background-image: url("../../public/src/undo.svg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin: 0 auto;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
    border: transparent;
    border-radius: 10px;
  }
}

.wrap_logo {
  padding-top: 2rem;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 99;
  button {
    -webkit-text-stroke: 1px #000;
    text-shadow: 3px 0px 1px #000000;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    // background-image: url("../../public/src/favicon.ico");
    background-image: url("../../public/src/totoro_color.png");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    margin: 0 auto;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    text-transform: uppercase;
    border: transparent;
    border-radius: 10px;
    &:hover {
      background-color: #aaa5;
    }
  }
}
.wrap_info {
  width: 100%;
  padding: 0 10rem;
  margin-top: 9rem;
}
.h1 {   
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 64px;
  font-family: 'Kalam', cursive;
  // family setting
}
.aniSelect {
    width: 100px;
    height: 30px;
    float: right;
    background: transparent;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    text-align: center;
    border-bottom: 2px solid #fff;
    option {
      background: black;
    }
    &::after {
        content: "▼";
        display: block;
        color: #fff;
    }
}

.info_slider {
  width: 100%;
  height: 100%;
//   background-color: antiquewhite;
}
.swiper_slide_detail {
  height: 100%;
}

// swiper
.swiper {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;

  height: 70vh;
//   background-color: #eee;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 500px;
  background-color: #0005;
  margin-right: 3rem;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper_slide img {
  display: block;
//   width: 100%;
padding: 20px 0;
  width: 250px;
  height: 350px;
}

.swiper_slide p {
    text-align: center;
    margin: 1rem auto;
    color: #fff;
}
