@mixin line {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background: #ddd;
  @content;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  .inner {
    position: relative;
    width: 30vw;
    background: #fff;
    border-radius: 15px;
    aspect-ratio: 21/6;
    overflow: hidden;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      p {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-grow: 1;
        position: relative;
        text-align: center;
        &:hover {
          background: rgb(240, 240, 240);
        }
      }
      > p:nth-child(1) {
        font-size: 1rem;
        font-weight: 600;
        color: #f00;
        &::after {
          @include line {
            bottom: 0;
          }
        }
      }
      .cancel {
        font-size: 1rem;
      }
    }
  }
}
