@mixin line {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  background: #ddd;
  @content;
}
.article {
  overflow: scroll;
  position: relative;
  &::after {
    @include line {
      bottom: 0;
    }
  }
  > section:nth-child(1) {
    display: flex;
    margin-bottom: 30px;
  }
  > ul {
    > li {
      display: flex;
      margin-top: 28px;
      font-size: 0.825rem;
    }
  }
}
