.article {
  overflow: scroll;
  position: relative;
  > section:nth-child(1) {
    display: flex;
    margin-bottom: 30px;
  }
  > ul {
    > li {
      display: flex;
      margin-top: 28px;
      font-size: 0.825rem;
    }
  }
}
