.article {
  overflow: scroll;
  position: relative;
  > section:nth-child(1) {
    display: flex;
    margin-bottom: 30px;
    > div:nth-child(1) {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid #000;
      > figure {
        width: 100%;
        height: 100%;
        > img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    > div:nth-of-type(2) {
      width: calc(100% - 40px);
      align-self: center;
      > div:first-child {
        display: flex;
        margin-bottom: 10px;
        > p {
          align-self: center;
          padding: 0 10px;
        }
        > p:first-child {
          display: none;
        }
      }
      > div:last-child {
        font-size: 0.9rem;
        > p:nth-child(2) {
          display: none;
        }
        > p:last-child {
          display: none;
        }
      }
    }
    > svg {
      display: none;
    }
  }
  > ul {
    > li {
      display: flex;
      margin-top: 28px;
      font-size: 0.825rem;
    }
  }
}
