.main_bg{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../public/src/img/main/howl_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: luminosity;
    z-index: 0;
    display: flex;
    &::after{
        content: "";
        background-blend-mode: luminosity;
        background-color: #000;
        width: 100%;
        height: 100vh;
        display: block;
        position: absolute;
        z-index: -9;
        opacity: 0.4;
    }
    .button{
        z-index: 2;
        width: 10rem;
        height: 3rem;
        font-weight: 700;
        font-size: 1.2rem;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        position: relative;
        left: 20%;
        top: 2%;
    }
    //성
    .main_img_01{
        position: absolute;
        right: -5%;
        top: 5%;
        z-index: -2;
        opacity: 1;
        scale: 0.5;
        filter: drop-shadow(10px 10px 10px #000);
    }
    //사람
    .main_img_02{
        position: absolute;
        left: -10%;
        top: -20%;
        z-index: -4;
        opacity: 1;
        scale: 0.5;
        filter: drop-shadow(10px 10px 10px #000);
    }
    .main_img_03{
        position: absolute;
        z-index: -3;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
   
    .main_text{
        position: relative;
        z-index: -3;
        left: 45%;
        top: 20%;
        color: rgb(255, 225, 30);
        font-size: 13rem;
        font-weight: bold;
        -webkit-text-stroke: 5px #000;
        text-shadow: 13px -10px 0px #000000;
    }

    
    .main_text2{
        position: absolute;
        left: 18%;
        top: 45%;
        z-index: -1;
        color: #fff;
        font-size: 10rem;
        font-weight: bold;
        -webkit-text-stroke: 5px #000;
        text-shadow: 13px -10px 0px #000000;
        letter-spacing: -10px;
        
    }

    &.active{

        .main_img_01{
            animation: img_ani 5s 0s ease-in-out both;
            animation-iteration-count: infinite;
        }
        @keyframes img_ani {
            0%{
                right: -5%;
                top: -8%;
                opacity: 1;
            }
            50%{
                right: 35%;
                top: -8%;
                opacity: 0;
            }
            100%{
                right: -5%;
                top: -8%;
                opacity: 1;
            }
        }

        .main_img_02{
            animation: img_ani2 2s 0s ease-in-out both;
            animation-iteration-count: infinite;
        }
        @keyframes img_ani2 {
            0%{
                left: -10%;
                top: -20%;
            }
            50%{
                left: -10%;
                top: -15%;
            }
            100%{
                left: -10%;
                top: -20%;
            }
        }
    }
}




@media screen and (max-width:1400px){
    .main_bg{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../../public/src/img/main/howl_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        z-index: 0;
        display: flex;
        &::after{
            content: "";
            background-blend-mode: luminosity;
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: block;
            position: absolute;
            z-index: -9;
            opacity: 0.4;
        }
        .button{
            z-index: 2;
            width: 10rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            position: relative;
            left: 20%;
            top: 2%;
        }
        //성
        .main_img_01{
            position: absolute;
            right: -5%;
            top: 5%;
            z-index: -2;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        //사람
        .main_img_02{
            position: absolute;
            left: -15%;
            top: -25%;
            z-index: -4;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        .main_img_03{
            position: absolute;
            z-index: -3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
       
        .main_text{
            position: relative;
            z-index: -3;
            left: 40%;
            top: 22%;
            color: rgb(255, 225, 30);
            font-size: 12rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
        }
    
        
        .main_text2{
            position: absolute;
            left: 18%;
            top: 45%;
            z-index: -1;
            color: #fff;
            font-size: 9rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
            letter-spacing: -10px;
            
        }
    
        &.active{
    
            .main_img_01{
                animation: img_ani 5s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani {
                0%{
                    right: -5%;
                    top: 10%;
                    opacity: 1;
                }
                50%{
                    right: 35%;
                    top: 10%;
                    opacity: 0;
                }
                100%{
                    right: -5%;
                    top: 10%;
                    opacity: 1;
                }
            }
    
            .main_img_02{
                animation: img_ani2 2s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani2 {
                0%{
                    top: -18%;
                }
                50%{
                    top: -13%;
                }
                100%{
                    top: -18%;
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    .main_bg{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../../public/src/img/main/howl_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        z-index: 0;
        display: flex;
        &::after{
            content: "";
            background-blend-mode: luminosity;
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: block;
            position: absolute;
            z-index: -9;
            opacity: 0.4;
        }
        .button{
            z-index: 2;
            width: 10rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            position: relative;
            left: 20%;
            top: 2%;
        }
        //성
        .main_img_01{
            position: absolute;
            right: -5%;
            top: 5%;
            z-index: -2;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        //사람
        .main_img_02{
            position: absolute;
            left: -20%;
            top: -25%;
            z-index: -4;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        .main_img_03{
            position: absolute;
            z-index: -3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
       
        .main_text{
            position: relative;
            z-index: -3;
            left: 20%;
            top: 30%;
            color: rgb(255, 225, 30);
            font-size: 12rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
        }
    
        
        .main_text2{
            position: absolute;
            left: 10%;
            top: 50%;
            z-index: -1;
            color: #fff;
            font-size: 9rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
            letter-spacing: -10px;
            
        }
    
        &.active{
    
            .main_img_01{
                animation: img_ani 5s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani {
                0%{
                    right: -5%;
                    top: 20%;
                    opacity: 1;
                }
                50%{
                    right: 35%;
                    top: 20%;
                    opacity: 0;
                }
                100%{
                    right: -5%;
                    top: 20%;
                    opacity: 1;
                }
            }
    
            .main_img_02{
                animation: img_ani2 2s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani2 {
                0%{
                    top: -12%;
                }
                50%{
                    top: -14%;
                }
                100%{
                    top: -12%;
                }
            }
        }
    }
}

@media screen and (max-width:1063px){
    .main_bg{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../../public/src/img/main/howl_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        z-index: 0;
        display: flex;
        &::after{
            content: "";
            background-blend-mode: luminosity;
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: block;
            position: absolute;
            z-index: -9;
            opacity: 0.4;
        }
        .button{
            z-index: 2;
            width: 10rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            position: relative;
            left: 20%;
            top: 2%;
        }
        //성
        .main_img_01{
            position: absolute;
            right: -5%;
            top: 5%;
            z-index: -2;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        //사람
        .main_img_02{
            position: absolute;
            left: -20%;
            top: -25%;
            z-index: -4;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        .main_img_03{
            position: absolute;
            z-index: -3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
       
        .main_text{
            position: relative;
            z-index: -3;
            left: 20%;
            top: 30%;
            color: rgb(255, 225, 30);
            font-size: 10rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
        }
    
        
        .main_text2{
            position: absolute;
            left: 18%;
            top: 48%;
            z-index: -1;
            color: #fff;
            font-size: 7rem;
            font-weight: bold;
            -webkit-text-stroke: 4px #000;
            text-shadow: 13px -10px 0px #000000;
            letter-spacing: -10px;
            
        }
    
        &.active{
    
            .main_img_01{
                animation: img_ani 5s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani {
                0%{
                    right: -5%;
                    top: 20%;
                    opacity: 1;
                }
                50%{
                    right: 35%;
                    top: 20%;
                    opacity: 0;
                }
                100%{
                    right: -5%;
                    top: 20%;
                    opacity: 1;
                }
            }
    
            .main_img_02{
                animation: img_ani2 2s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani2 {
                0%{
                    top: -12%;
                }
                50%{
                    top: -14%;
                }
                100%{
                    top: -12%;
                }
            }
        }
    }
}

@media screen and (max-width:913px){
    .main_bg{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../../public/src/img/main/howl_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        z-index: 0;
        display: flex;
        &::after{
            content: "";
            background-blend-mode: luminosity;
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: block;
            position: absolute;
            z-index: -9;
            opacity: 0.4;
        }
        .button{
            z-index: 2;
            width: 10rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            position: relative;
            left: 20%;
            top: 2%;
        }
        //성
        .main_img_01{
            position: absolute;
            right: -5%;
            top: 5%;
            z-index: -2;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        //사람
        .main_img_02{
            transform: scaleX(-1);
            position: absolute;
            left: 10%;
            top: -15%;
            z-index: -4;
            opacity: 1;
            scale: 0.4;
            filter: drop-shadow(10px 10px 10px #000);
        }
        .main_img_03{
            position: absolute;
            z-index: -3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
       
        .main_text{
            position: relative;
            z-index: -3;
            left: 0%;
            top: 30%;
            color: rgb(255, 225, 30);
            font-size: 10rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
        }
    
        
        .main_text2{
            position: absolute;
            left: 10%;
            top: 48%;
            z-index: -1;
            color: #fff;
            font-size: 7rem;
            font-weight: bold;
            -webkit-text-stroke: 4px #000;
            text-shadow: 13px -10px 0px #000000;
            letter-spacing: -10px;
            
        }
    
        &.active{
    
            .main_img_01{
                animation: img_ani 5s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani {
                0%{
                    right: -5%;
                    top: 20%;
                    opacity: 1;
                }
                50%{
                    right: 35%;
                    top: 20%;
                    opacity: 0;
                }
                100%{
                    right: -5%;
                    top: 20%;
                    opacity: 1;
                }
            }
    
            .main_img_02{
                animation: img_ani2 2s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani2 {
                0%{
                    top: -25%;
                }
                50%{
                    top: -15%;
                }
                100%{
                    top: -25%;
                }
            }
        }
    }
}

@media screen and (max-width:828px){
    .main_bg{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../../public/src/img/main/howl_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        z-index: 0;
        display: flex;
        &::after{
            content: "";
            background-blend-mode: luminosity;
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: block;
            position: absolute;
            z-index: -9;
            opacity: 0.4;
        }
        .button{
            z-index: 2;
            width: 10rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            position: relative;
            left: 20%;
            top: 2%;
        }
        //성
        .main_img_01{
            position: absolute;
            right: -5%;
            top: 5%;
            z-index: -2;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        //사람
        .main_img_02{
            transform: scaleX(-1);
            position: absolute;
            left: 5%;
            top: -15%;
            z-index: -4;
            opacity: 1;
            scale: 0.4;
            filter: drop-shadow(10px 10px 10px #000);
        }
        .main_img_03{
            position: absolute;
            z-index: -3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
       
        .main_text{
            position: relative;
            z-index: -3;
            left: 0%;
            top: 30%;
            color: rgb(255, 225, 30);
            font-size: 9rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
        }
    
        
        .main_text2{
            position: absolute;
            left: 10%;
            top: 46%;
            z-index: -1;
            color: #fff;
            font-size: 6rem;
            font-weight: bold;
            -webkit-text-stroke: 4px #000;
            text-shadow: 10px -5px 0px #000000;
            letter-spacing: -5px;
            
        }
    
        &.active{
    
            .main_img_01{
                animation: img_ani 5s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani {
                0%{
                    right: -5%;
                    top: 10%;
                    opacity: 1;
                }
                50%{
                    right: 35%;
                    top: 10%;
                    opacity: 0;
                }
                100%{
                    right: -5%;
                    top: 10%;
                    opacity: 1;
                }
            }
    
            .main_img_02{
                animation: img_ani2 2s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani2 {
                0%{
                    top: -25%;
                }
                50%{
                    top: -15%;
                }
                100%{
                    top: -25%;
                }
            }
        }
    }
}

@media screen and (max-width:772px){
    .main_bg{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../../public/src/img/main/howl_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        z-index: 0;
        display: flex;
        &::after{
            content: "";
            background-blend-mode: luminosity;
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: block;
            position: absolute;
            z-index: -9;
            opacity: 0.4;
        }
        .button{
            z-index: 2;
            width: 10rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            position: relative;
            left: 20%;
            top: 2%;
        }
        //성
        .main_img_01{
            position: absolute;
            right: -5%;
            top: 5%;
            z-index: -2;
            opacity: 1;
            scale: 0.5;
            filter: drop-shadow(10px 10px 10px #000);
        }
        //사람
        .main_img_02{
            transform: scaleX(-1);
            position: absolute;
            left: 5%;
            top: -15%;
            z-index: -4;
            opacity: 1;
            scale: 0.4;
            filter: drop-shadow(10px 10px 10px #000);
        }
        .main_img_03{
            position: absolute;
            z-index: -3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
       
        .main_text{
            position: relative;
            z-index: -3;
            left: 0%;
            top: 30%;
            color: rgb(255, 225, 30);
            font-size: 9rem;
            font-weight: bold;
            -webkit-text-stroke: 5px #000;
            text-shadow: 13px -10px 0px #000000;
        }
    
        
        .main_text2{
            position: absolute;
            left: 10%;
            top: 46%;
            z-index: -1;
            color: #fff;
            font-size: 6rem;
            font-weight: bold;
            -webkit-text-stroke: 4px #000;
            text-shadow: 10px -5px 0px #000000;
            letter-spacing: -5px;
            
        }
    
        &.active{
    
            .main_img_01{
                animation: img_ani 5s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani {
                0%{
                    right: -5%;
                    top: 10%;
                    opacity: 1;
                }
                50%{
                    right: 35%;
                    top: 10%;
                    opacity: 0;
                }
                100%{
                    right: -5%;
                    top: 10%;
                    opacity: 1;
                }
            }
    
            .main_img_02{
                animation: img_ani2 2s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani2 {
                0%{
                    top: -25%;
                }
                50%{
                    top: -15%;
                }
                100%{
                    top: -25%;
                }
            }
        }
    }
}

@media screen and (max-width:750px){
    .main_bg{
        position: relative;
        width: 100%;
        height: 100vh;
        background: url(../../public/src/img/main/howl_bg.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-blend-mode: luminosity;
        z-index: 0;
        display: flex;
        &::after{
            content: "";
            background-blend-mode: luminosity;
            background-color: #000;
            width: 100%;
            height: 100vh;
            display: block;
            position: absolute;
            z-index: -9;
            opacity: 0.4;
        }
        .button{
            z-index: 2;
            width: 10rem;
            height: 3rem;
            font-weight: 700;
            font-size: 1.2rem;
            background-color: transparent;
            border: 2px solid #fff;
            color: #fff;
            position: relative;
            left: 10%;
            top: 2%;
        }
        //성
        .main_img_01{
            position: absolute;
            right: -40%;
            top: -10%;
            z-index: -2;
            opacity: 1;
            scale: 0.15;
            filter: drop-shadow(10px 10px 10px #000);
        }
        //사람
        .main_img_02{
            // display: none;
            transform: scaleX(-1);
            position: absolute;
            left: -70%;
            top: -45%;
            z-index: -4;
            opacity: 1;
            scale: 0.25;
            filter: drop-shadow(10px 10px 10px #000);
        }
        .main_img_03{
            position: absolute;
            z-index: -3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
        }
       
        .main_text{
            position: relative;
            z-index: -3;
            left: -50%;
            top: 35%;
            color: rgb(255, 225, 30);
            font-size: 4rem;
            font-weight: bold;
            -webkit-text-stroke: 0px #000;
            text-shadow: 5px -5px 0px #000000;
        }
    
        
        .main_text2{
            position: absolute;
            left: 13%;
            top: 46%;
            z-index: -1;
            color: #fff;
            font-size: 4rem;
            font-weight: bold;
            -webkit-text-stroke: 0px #000;
            text-shadow: 5px -2px 0px #000000;
            letter-spacing: 0px;
            
        }
    
        &.active{
    
            .main_img_01{
                animation: img_ani 5s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani {
                0%{
                    right: -40%;
                    top: -10%;
                    opacity: 1;
                }
                50%{
                    right: -40%;
                    top: -10%;
                    opacity: 1;
                }
                100%{
                    right: -40%;
                    top: -10%;
                    opacity: 1;
                }
            }
    
            .main_img_02{
                animation: img_ani2 2s 0s ease-in-out both;
                animation-iteration-count: infinite;
            }
            @keyframes img_ani2 {
                0%{
                    top: -40%;
                }
                50%{
                    top: -40%;
                }
                100%{
                    top: -40%;
                }
            }
        }
    }
}