
.top{
    position: fixed;
    scale: 0.3;
    bottom: -5%;
    right: -3%;
    background-color: transparent;
    border: none;
}


@media screen and (max-width:750px){
    .top{
        position: fixed;
        scale: 0.3;
        bottom: -5%;
        right: -8%;
        background-color: transparent;
        border: none;
    }
}

@media screen and (max-width:400px){
    .top{
        position: fixed;
        scale: 0.2;
        bottom: -10%;
        right: -22%;
        background-color: transparent;
        border: none;
    }
}