.main_bg{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../../public/src/img/main/totoro_bg.jpg);
    background-blend-mode: luminosity;
    z-index: 0;
    display: flex;
    &::after{
        content: "";
        background-blend-mode: luminosity;
        background-color: #000;
        width: 100%;
        height: 100vh;
        display: block;
        position: absolute;
        z-index: -9;
        opacity: 0.6;
    }
    .button{
        z-index: 2;
        width: 10rem;
        height: 3rem;
        font-weight: 700;
        font-size: 1.2rem;
        background-color: transparent;
        border: 2px solid #fff;
        color: #fff;
        position: absolute;
        left: 2%;
        top: 2%;
    }
    .main_img{
        position: absolute;
        right: 0%;
        top: 0%;
        z-index: 0;
        opacity: 1;
        
        img{
            scale: 1;
            height: 100vh;
            // filter: drop-shadow(10px 10px 10px #000);
        }
    }
   
    .main_text{
        position: absolute;
        // rotate: -10deg;
        z-index: 1;
        left: 5%;
        top: 15%;
        color: rgb(158, 250, 255);
        font-size: 12rem;
        font-weight: bold;
        -webkit-text-stroke: 5px #000;
        text-shadow: 13px -10px 0px #000000;
    }

    
    .main_text2{
        position: absolute;
        // rotate: -10deg;
        left: 5%;
        top: 40%;
        color: #fff;
        font-size: 10rem;
        font-weight: bold;
        -webkit-text-stroke: 5px #000;
        text-shadow: 13px -10px 0px #000000;
        letter-spacing: -10px;
        
    }
    .main_text3{
        position: absolute;
        // rotate: -10deg;
        left: 5%;
        top: 60%;
        color: #fff;
        font-size: 10rem;
        font-weight: bold;
        -webkit-text-stroke: 5px #000;
        text-shadow: 13px -10px 0px #000000;
        letter-spacing: -10px;
        
    }

    &.active{

        // .main_img{
        //     animation: img_ani 1.5s 0s ease-in-out both
        // }
        // @keyframes img_ani {
        //     0%{
        //         left: 50%;
        //         top: 5%;
        //         opacity: 0;
        //         scale: 0.8;
        //     }
        //     100%{
        //         left: 7%;
        //         top: 10%;
        //         opacity: 1;
        //         scale: 1;
        //     }
        // }
        
  
        .main_text{
            animation: text_ani 1s 0s ease-in-out both
        }
        @keyframes text_ani {
            0%{
                left: 50%;
                top: 15%;
                opacity: 0;
            }
            100%{
                left: 5%;
                top: 15%;
                opacity: 1;
            }
        }
        
        .main_text2{
            animation: text2_ani 1s 0s ease-in-out both;
            animation-delay: 0.5s;
        }
        @keyframes text2_ani {
            0%{
                left: 50%;
                top: 40%;
                opacity: 0;
            }
            100%{
                left: 5%;
                top: 40%;
                opacity: 1;
            }
        }
        .main_text3{
            animation: text3_ani 1s 0s ease-in-out both;
            animation-delay: 1s;
        }
        @keyframes text3_ani {
            0%{
                left: 50%;
                top: 60%;
                opacity: 0;
            }
            100%{
                left: 5%;
                top: 60%;
                opacity: 1;
            }
        }

    }
}

